Modulo 4:

- Lectura de archivos con abierto
- Escribir archivos con abierto
- Cargando datos con Pandas
- Trabajar y guardar datos con Pandas

In [ ]:
#LECTURA DE ARCHIVOS

In [ ]:
#from pyodide.http import pyfetch
#import pandas as pd

#filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt"

#async def download(url, filename):
#    response = await pyfetch(url)
#    if response.status == 200:
#        with open(filename, "wb") as f:
#            f.write(await response.bytes())


#await download(filename, "Example1.txt")

In [ ]:
# Read the Example1.txt
example1 = "Example1.txt"
file1 = open(example1, "r")

In [ ]:
# Read the file

FileContent = file1.read()
FileContent

In [ ]:
# ESCRITURA DE ARCHIVOS

In [ ]:
# Write line to file
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [ ]:
# Read file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [ ]:
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

In [ ]:
# AÃ‘ADIR ARCHIVOS

In [ ]:
# Dependency needed to install file 

# If running the notebook on your machine, else leave it commented
# !pip install xlrd

#import piplite
#await piplite.install(['xlrd','openpyxl'])

In [ ]:
# Get the column as a dataframe

x = df[['Artist']]
type(x)

In [13]:
#LABORATORIOS

In [14]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

In [15]:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

In [17]:
#2.  Obtain column  <code> 'a' </code>:

In [ ]:
df['a']

In [19]:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [20]:
df['a'].unique()

array([1, 2])

In [21]:
#2.  Return a dataframe with only the rows where column <code> a </code> is less than two:

In [ ]:
df[df['a']<2]